.itemDetail {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 20px;
    background-color: rgb(253, 198, 177);
    padding: 20px;
}

.itemDeailImg{
    border: 1px solid rgb(255, 109, 51);
    height: 500px;
    width: 400px;
}

.itemDetailcontent {
    width: 600px;
}

.itemDetailcontent span b {
    font-family: Verdana;
    border-bottom: 3px solid rgb(255, 109, 51);
    border-radius: 5px;
}

.itemDetailcontent p {
    font-family: Verdana;
}