.itemListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 20px;
  align-content: space-around;
}

.itemDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4px;
  padding: 20px;
  margin-top: 118px;
}

@media (max-width: 1254px) {
  .itemDetail {
    display: flex;
    flex-direction: column;
  }
}

.itemDetailImg {
  border: 1px solid #48e;
  height: 500px;
  width: 400px;
  padding: 100px;
}

.itemDetailcontent {
  width: 400px;
  padding: 100px;
}

.itemDetailcontent span b {
  font-family: Verdana;
  border-bottom: 3px solid #48e;
  border-radius: 5px;
}

.itemDetailcontent p {
  font-family: Verdana;
}

.itemDetailItemCount {
  padding: 50px;
  width: 500px;
}

.sinStock {
  background: #f66066;
}

.btonProductos {
  color: #48e;
}

.linkBtonProductos {
  text-decoration: none;
}
