.greetingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greetingContainer h1{
    color: rgb(255, 109, 51);
    background-color: #fff;
    top: 100px;
    text-align: center;
    padding: 15px 0;
}

.itemListContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}