.greetingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.greetingContainer h1{
    color: rgb(255, 109, 51);
    background-color: #fff;
    top: 100px;
    text-align: center;
    padding: 15px 0;
}

.ItemList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.ItemList h2 {
    color: rgb(255, 109, 51);
    padding-top: 100px;
    font-size: 30px;
}