.card {
    margin: 10px;
    height:fit-content;
    max-height: 440px;
}

.card-Content {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 500px;
}
.card-Description {
    margin: 10px;
    font-weight: 200;
}

