.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgb(62, 75, 94);
}
.cardImage {
  height: 300px;
}
.card .card-Content {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.card-Description {
  font-weight: 200;
  height: fit-content;
}

@media screen and (min-width: 280px) and (max-width: 425px) {
  .card-title {
    text-decoration: none;
  }
  .card {
    width: 95vw;
    height: 30rem;
    margin: 30px 25px;
    text-align: center;
    text-decoration: none;
    align-content: center;
  }
}

@media screen and (min-width: 425.8px) and (max-width: 768px) {
  .card {
    width: 40vw;
    margin: 30px 25px;
  }
  .cardImage {
    height: 250px;
  }
}
@media screen and (min-width: 768.2px) and (max-width: 1024px) {
  .card {
    width: 40vw;
    margin: 30px 25px;
  }
}
@media screen and (min-width: 1024.2px) {
  .card-title {
    text-decoration: none;
  }
  .card {
    height: 35rem;
    margin: 30px 25px;
    text-align: center;
    text-decoration: none;
  }
}
