@media screen and (min-width: 280px) and (max-width: 425px) {
  .navBarContainer {
    width: 100vw;
  }
  .navDropdown {
    font-size: 17px;
  }
  .navBar {
    padding: 10px 0;
    max-height: 30px;
    font-size: 17px;
  }
  .navBarContainer .brand {
    font-size: 25px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 425.2px) and (max-width: 768px) {
  .navBarContainer {
    padding: 0 60px;
    width: 100vw;
  }
  .navDropdown {
    font-size: 20px;
  }
  .navBar {
    font-size: 20px;
  }
  .navBarContainer .brand {
    font-size: 40px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 768.2px) and (max-width: 1024px) {
  .navBarContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
  }
  .navDropdown {
    font-size: 20px;
  }
  .navBar {
    font-size: 20px;
  }
  .navBarContainer .brand {
    font-size: 40px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1024.2px) {
  .navBarContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
  }
  .navDropdown {
    font-size: 20px;
  }
  .navBar {
    font-size: 20px;
  }
  .navBarContainer .brand {
    font-size: 40px;
    margin-left: 5px;
  }
}
