.navBar {
  padding: 30px 0;
  max-height: 100px;
  font-size: 20px;
}

.navDropdown {
  font-size: 20px;
}

.navBarContainer .brand {
  font-size: 40px;
}
@media screen and (min-width: 280px) and (max-width: 320px) {
  .navBarContainer {
    padding: 0 19px;
    width: 100vw;
  }
  .navDropdown {
    font-size: 17px;
  }
  .navBar {
    padding: 10px 0;
    max-height: 30px;
    font-size: 17px;
  }
  .navBarContainer .brand {
    font-size: 25px;
    margin-left: 5px;
  }
}
