.navBar {
    display: flex;
    justify-content: center;
    align-self:center;
}
.navBar li {
    padding: 10px 25px;
    list-style: none;
    transition: all 0.5s;
}
.navBar li:hover {
    transform: scale(1.1);
}
.navBar li a {
    color: #fff;
    text-decoration: none;
}