.App {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100vw;
}
/* Cards */
.CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
