.App {
  display:  flex;
  flex-direction: column;
}
/* Cards */
.CardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
