.divCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (min-width: 280px) and (max-width: 320px) {
  .divCardContainer {
    justify-content: center;
    width: 100vw;
  }
}
