.divCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 280px) {
  .divCardContainer {
    justify-content: center;
  }
}
